/* Remove bounding box over clickable items */

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
